.img-width-fix {
	max-width: 100%; 

}

body { 
	background-image: url( "../img/pinkpolka.jpg");
	background-color: #cccccc; 
}

body {font-family: 'Julius Sans One', sans-serif;
}

.fa-facebook {
	color: #AD5386;
}

.fa-linkedin-square {color: #AD5386

}

.fa-instagram {color: #AD5386

}